
@{
    ViewBag.Title = "UploadWCF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h2>Upload using WCF RestAPI(webHttpBinding)</h2>
        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="uploadFile">Select File</label>
                <input type="file" class="form-control" id="uploadFile" name="uploadFile" accept="image/*;capture=camera" />
            </div>
            <div class="form-group">
                <label for="location">Multipart/Formdata format?</label>
                <input type="checkbox" id="multipartCheckBox" class="form-check-input" checked="true" disabled="true" />

                <label for="location">Async file reading?</label>
                <input type="checkbox" id="fileReadingCheckBox" class="form-check-input" disabled="true" />
            </div>
            <button id="submit" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="~/JS/configurations.js"></script>
<script type="text/javascript" src="~/JS/uploadWCF.js"></script>
<script type="text/javascript" src="~/JS/wcfMultiPartUploader.js"></script>
